@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.eot');
    src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('../fonts/poppins-regular-webfont.woff') format('woff'),
    url('../fonts/poppins-regular-webfont.ttf') format('truetype'),
    url('../fonts/poppins-regular-webfont.svg#poppinsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
}
header{
    background: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header .container{
    padding: 0 20px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-left: 32px;
}
header nav ul li:first-of-type{
    margin-right: 24px;
}
header nav ul li a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav ul li:first-of-type a{
    font-size: 13px;
}
header nav ul li:last-of-type a {
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.4px;
}
.top_section_apert_stud{
    max-width: 580px;
    padding: 466px 70px;
    text-align: center;
}
.top_section_phot_film{
    font: 14px/20px 'poppinsregular';
    color: #C0C0C0;
}
.font_14-20{
    font: 14px/20px 'poppinsregular';

}
.top_sect_discr_p{
    padding-top: 18px;
    color: #C0C0C0;
}
.top_sect_h1{
    font: 54px/59px 'poppinsregular';
    padding-top: 1px;
    color: #FFFFFF;
}
.help_phot_sect{
    background-color: #000000;
}
.help_sect_size{
    text-align: center;
    padding-bottom: 108px;
}
.help_sect_h3{
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
    padding-bottom: 15px;
    padding-top: 113px;
}
.help_sect_p{
    font: 24px/30px 'poppinsregular';
    color: #C0C0C0;
    padding-bottom: 22px;
}
.help_sect_a{
    font: 16px/20px 'poppinsregular';
    color: black;
    border-radius: 14px;
    background-color: #FFFFFF;
    padding: 5px 10px 5px 4px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}
.help_sect_a::before{
    content:"";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 15px;
    margin-right: 6px;
    background-color: black;
}
.what_we_d_article{
    width: 576px;
    height: 600px;
    background-image: url("../images/devices.jpg");
    margin-left: 136px;
    margin-top: 242px;
    text-align: start;
}
.mount_sect{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mount_sect_text_block{
    max-width: 298px;
    position: absolute;
    padding-right: 62px;
}
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: calc(100vh - 86px);
    position: relative;
}
.main_banner .bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.main_banner .bottom_icon li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
}
.main_banner .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.main_banner .bottom_icon li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}
.main_banner .bottom_icon li:nth-child(3):before{
    background-image: url("../images/iso_logo.svg");
    width: 32px;
}
.main_banner .bottom_icon li:nth-child(4):before{
    background-image: url("../images/location_logo.svg");
    width: 10px;
    height: 16px;
}
.mount_sect .bottom_icon li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
}
.mount_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.mount_sect .bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.mount_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.mount_sect .bottom_icon li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}
.mount_sect .bottom_icon li:nth-child(3):before{
    background-image: url("../images/iso_logo.svg");
    width: 32px;
}
.mount_sect .bottom_icon li:nth-child(4):before{
    background-image: url("../images/location_logo.svg");
    width: 10px;
    height: 16px;
}
.text_decor_h3{
    color: #FFFFFF;
    text-transform: uppercase;
}
.text_decor_p{
    color: #C0C0C0;
}
.leafs_sect{
    background-image: url("../images/leaf.jpg");
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.leafs_sect .bottom_icon li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
}
.leafs_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.leafs_sect .bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.leafs_sect_text_block{
    max-width: 273px;
    position: absolute;
    padding-right: 87px;

}
.leafs_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.leafs_sect .bottom_icon li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}
.leafs_sect .bottom_icon li:nth-child(3):before{
    background-image: url("../images/iso_logo.svg");
    width: 32px;
}
.leafs_sect .bottom_icon li:nth-child(4):before{
    background-image: url("../images/location_logo.svg");
    width: 10px;
    height: 16px;
}

.night_sky_sect{
    background-image: url("../images/sky.jpg");
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.night_sky_sect .bottom_icon li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 16px;
}
.night_sky_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.night_sky_sect .bottom_icon{
    position: absolute;
    right: 40px;
    bottom: 41px;
    display: flex;
    align-items: center;
    list-style: none;
}
.night_sky_sect_text_block {
    max-width: 241px;
    position: absolute;
    padding-right: 119px;

}
.night_sky_sect .bottom_icon li::before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.night_sky_sect .bottom_icon li:nth-child(2):before{
    background-image: url("../images/circle.svg");
}
.night_sky_sect .bottom_icon li:nth-child(3):before{
    background-image: url("../images/iso_logo.svg");
    width: 32px;
}
.night_sky_sect .bottom_icon li:nth-child(4):before{
    background-image: url("../images/location_logo.svg");
    width: 10px;
    height: 16px;
}
.what_we_do_sect{
    background-color: #000000;
    padding-top: 113px;
    padding-bottom: 100px;
}
.what_we_do_cont{
    max-width: 1168px;
    margin: auto;
}
.what_we_do_art{
    position: relative;
    max-width: 576px;
    height: 600px;
    margin-bottom: 15px;
}
.img_art{
    display: block;
    width: 100%;
}
.what_we_do_inside_div{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.what_we_do_centr_cont{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin-top: 42px;
}
.what_we_d_h3{
    font: 40px/42px 'poppinsregular';
    color: #FFFFFF;
    padding-bottom: 15px;
    text-align: center;
}
.what_we_d_p{
    font: 23px/30px 'poppinsregular';
    color: #C0C0C0;
    text-align: center;
}
.h3_styles{
    color: #FFFFFF;
    padding-bottom: 10px;
}
.p_styles{
    color: #C0C0C0;
    padding-bottom: 17px;
}
.pad_45{
    padding-right: 45px;
}
.pad_32{
    padding-right: 32px;
}
.pad_30{
    padding-right: 30px;
}
.pad_66{
    padding-right: 66px;
}